<% var TAB = '\t'; %>
<% if (schema.$ref) { %>
  <%- include('schema', {
    typeDef: typeDef,
    name: name, 
    schema: ref(schema, 'schema', srcStack),
    srcStack: srcStack.concat(schema.$ref), // update src stack if has $ref
    showExample: showExample
  }); %>
<% } else { %>
  <%/* Display Schema */%>
  <nop>
    <%= typeDef _%>
    <%_ if (name) { %> <code class="schema-name"><%= name %></code> <% } %> &nbsp;

    <span class="schema-type">_(
    <%/* Enum */%>
    <%_ if (schema.enum) { _%>
      <%_ %> enum <% if (schema.type) { %> : <%= schema.type %> <% } %>
    <% _} else { _%>
      <%_ if (schema._custom) { _%>
        [<%= schema._custom.type %>](<%= schema._custom.path %>)
      <%_ } else { _%>
        <%= schema.type %>
      <%_ } _%>
    <%_ } _%>

    <%/* Type format */%>
    <%_ if (schema.format) { _%>
      <%_ %> {$<%= schema.format %>}
    <%_ } _%> 
    
    <%/* Default value */%>

    <%_ if (schema.default !== void 0) { _%>
      <%_ %> = <%= schema.default %>
    <%_ } _%>
    )_
    </span>

    <%_ if (schema.description) { _%> 
      <%_ %> <small class="schema-desc"> - <%= schema.description %></small> 
    <%_ } _%>
  </nop>
<% } %> 
<%/* Recursive if schema's type is object or array */%>
<% if (schema.type == 'object') { %>
  <% schema.properties && Object.keys(schema.properties).forEach(function(key) { %>
    <%- include('schema', {
      typeDef: /#{1,6}/.test(typeDef) ? '-' : '\t' + typeDef,
      name: key, 
      schema: schema.properties[key],
      srcStack: srcStack,
      showExample: showExample
    }); %>
  <% }) %>
<% } else if (schema.type == 'array') { %>
  <%- include('schema', {
    typeDef: /#{1,6}/.test(typeDef) ? '-' : '\t' + typeDef,
    name: 'items', 
    schema: schema.items,
    srcStack: srcStack,
    showExample: showExample
  }); %>
<% } %>
<%/* Define enum if need */%>
<% if (typeof schema.enum === 'object' && schema.enum) { %>
  <% if (Array.isArray(schema.enum)) { %>
    <% schema.enum.forEach(function(value) { %>
      <nop>
        <%= TAB %><%= typeDef %> <%= value %>
      </nop>
    <% }) %>
  <% } else { %>
    <%/* Enum object define support */%>
    <% Object.keys(schema.enum).forEach(function(key) { %>
      <nop>
        <%= TAB %><%= typeDef %> <%= key %> - <small><%= schema.enum[key] %></small>
      </nop>
    <% }) %>
  <% } %>
<% } %>
<%/* Display example if need */%>
<% if (schema.example && showExample) { %>
**Example**
```json
<%- JSON.stringify(example(schema.example), null, 2); %>
```
<% } %>